<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lin.app.school.score.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="lin.app.school.score.domain.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
  </resultMap>
</mapper>